<div class="modal-recipe-backdrop" data-hidden>
  <div class="modal-recipe">
    <button class="ab-exit-btn">
      <svg class="ab-exit-img">
        <use href="./img/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>

    <div class="ab-video-container">
      <iframe
        class="ab-video"
        width="295"
        height="295"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <p class="ab-dish-name">Banana pancakes</p>

    <div class="ab-stars-and-time">
      <div class="ab-star-rating">
        <p class="ab-star-rating-number">4.5</p>

        <div class="ab-star-container">
          <svg class="ab-star-rating-img" fill="rgba(5, 5, 5, 0.5)">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg>

          <svg class="ab-star-rating-img" fill="rgba(5, 5, 5, 0.5)">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg>

          <svg class="ab-star-rating-img" fill="rgba(5, 5, 5, 0.5)">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg>

          <svg class="ab-star-rating-img" fill="rgba(5, 5, 5, 0.5)">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg>

          <svg class="ab-star-rating-img" fill="rgba(5, 5, 5, 0.5)">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg>
        </div>
      </div>

      <p class="ab-cooking-time">40 min</p>
    </div>

    <ul class="ab-ingredient-list">
      <li class="ab-ingredient">
        <p class="ab-ingredient-name">Banana</p>
        <p class="ab-ingredient-amount">1 large</p>
      </li>
      <li class="ab-ingredient">
        <p class="ab-ingredient-name">Eggs</p>
        <p class="ab-ingredient-amount">2 medium</p>
      </li>
      <li class="ab-ingredient">
        <p class="ab-ingredient-name">Oil</p>
        <p class="ab-ingredient-amount">1 tsp</p>
      </li>
      <li class="ab-ingredient">
        <p class="ab-ingredient-name">Pecan nuts</p>
        <p class="ab-ingredient-amount">25 tsp</p>
      </li>
      <li class="ab-ingredient">
        <p class="ab-ingredient-name">Baking Powder</p>
        <p class="ab-ingredient-amount">Pinch</p>
      </li>
      <li class="ab-ingredient">
        <p class="ab-ingredient-name">Raspberries</p>
        <p class="ab-ingredient-amount">125 g</p>
      </li>
    </ul>

    <ul class="ab-hashtag-list">
      <li class="ab-recipe-hashtag">#Lorem</li>
      <li class="ab-recipe-hashtag">#Ipsum</li>
      <li class="ab-recipe-hashtag">#Dolor</li>
    </ul>

    <p class="ab-recipe-description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
      mollitia tempora quas voluptatum veritatis rerum deserunt aliquid
      reprehenderit eos vitae sint quibusdam culpa accusantium quo voluptate
      odio, ducimus nobis enim! Veniam quos deserunt suscipit, quod qui repellat
      libero aliquam voluptates molestiae beatae, tempora cum dolorem ab
      veritatis iure dolorum magnam.
    </p>

    <ul class="ab-buttons">
      <li><button class="ab-add-to-favorite" >Add to favorite</button></li>
      <li>
        <a href="#rating-modal"
          ><button class="ab-give-a-rating">Give a rating</button></a
        >
      </li>
    </ul>
  </div>

  <!--------------RATING MODAL-------------->

  <div class="add-rating-modal" id="rating-modal" data-hidden>
    <button class="add-rating-close-btn">
      <svg class="add-rating-close-img">
        <use href="./img/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <h3 class="add-rating-title">Rating</h3>

    <form class="add-rating-form">
      <div class="add-rating-flex-container">
        <p class="js-rating-choosed">0.0</p>
        <fieldset class="starability-slot">
          <input type="radio" id="star5" name="rating" value="5" required />
          <label for="star5" title="Outstanding"></label>

          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4" title="Excellent"></label>

          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3" title="Good"></label>

          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2" title="Fair"></label>

          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1" title="Poor"></label>
        </fieldset>
      </div>

      <input
        required
        type="email"
        name="email"
        class="add-rating-email"
        placeholder="Enter email"
      />
      <button type="submit" class="add-rating-submit-btn">Send</button>
    </form>
  </div>
</div>
