:root {
    --white-color: #ffffff;
    --main-color: #050505;
    --accent-color: #9BB537;
   --star-color: #EEA10C;
    --boody-bg: #F8F8F8;
    --description-font-color: rgba(5, 5, 5, 0.80);
    --trans: 250ms linear;
    --dark-boody-bg: #161616;
    --dark-description-font-color: rgba(255, 255, 255, 0.80);
  }
  
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--boody-bg);
}

  /* Reset styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
    outline: transparent;
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: transparent;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 375px;
    margin: 0 auto;
  }

  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media only screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  
  }

  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1280px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }