.order-button {
  display: inline-flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #9bb537;
  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 100px;
  transition-property: background-color, color;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  color: #f8f8f8;
  background: #9bb537;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.5);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-button-close {
  position: absolute;
  top: 16px;
  right: 16px;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  /* border: none; */

  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px; */

  /* transition-property: color, background-color, visibility;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1); */
}

.modal-button-close-svg {
  fill: currentColor;
  stroke: currentColor;
}

.modal {
  /* display: none; */
  display: flex;
  flex-direction: column;
  position: relative;
  
  width: 440px;
  height: 632px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition-property: visibility;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.contacts-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-input-form-paragraf {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  padding-bottom: 40px;
}

.modal label {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.modal-input-labels {
  position: relative;
  margin-bottom: 18px;
}

/* CSS copied */
.modal-input-labels-text {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  margin-bottom: 8px;
}

/* CSS copied */
.input-style {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.modal-input-textarea-label {
  position: relative;
  margin-bottom: 40px;
}

.textarea-style {
  display: flex;
  width: 360px;
  height: 100px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.modal-button-send {
  display: flex;
  width: 360px;
  height: 48px;
  border: transparent;
  padding: 14px 162px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* flex-shrink: 0; */
  border-radius: 15px;
  background: #9bb537;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #f8f8f8;
  font-weight: 500;
}
