@import url('./base.css');
@import url('./categories.css');
@import url('./filters.css');
@import url('./header.css');
@import url('./hero-favorites.css');
@import url('./hero-home.css');
@import url('./popular.css');
@import url('./modal-order.css');
@import url('./modal-rating.css');
@import url('./modal-recipe.css');
